on property:init.svc.vendor.nv_mac=stopped
    start vendor.btmac-sh

service vendor.btmac-sh /vendor/bin/init.mi.btmac.sh
    class late_start
    user system
    group system bluetooth wifi
    oneshot
    disabled

